body {
  background: white;
}

header {
  background-color: #007abf;
  color: white;
  font-family: 'News Cycle', sans-serif;
  width: 100%;  
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight:bold;
  }
}

img {
  display: block;
}

.slide {
  height: 40px;
  width: 40px;
  background-color: black;
}

.start {
  background-color:#93b7bf;
  margin: 0 auto;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.user {
  background-color:#93b7bf;
  margin: 0 auto;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.jon {
  background-color:#93b7bf;
  margin: 0 auto;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  font-weight: bold;
}


.result {
  background-color:#93b7bf;
  margin: 0 auto;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

#question {
  text-align: center;
  height: 100px;
  margin: 10px;
}

.bumper {
  background-color:#93b7bf;
  margin: 0 auto;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  font-weight: bold;
}


#bumper {
  text-align:center;
}

#score {
  width: 100%;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}

.displayUserWins {
  background-color: white;
  width: 50%;
  float:left;
  text-align: center;
}

.displayJonWins {
  background-color:beige;
  width: 50%;
  float:left;
  text-align: center;
}

#share {
  width: 300px;
  height: 20px;
  float: left;
  text-align: center;
  background-color:red;
}

#reminder {
  width: 300px;
  height: 20px;
  float:left;
  text-align: center;
}

button {
  margin: 20px 100px 50px 120px;
  list-style: none;
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  border-style: 1px solid black;
}

li {
  list-style: none;
}

footer {
  background-color: #007abf;
  color: white;
  font-family: 'News Cycle', sans-serif;
  width: 100%;  
  margin: 0 auto;
  padding: 3px;
  text-align: center;
  font-size: 14px;
  font-weight:bold;
}

footer p {
  margin: 0;
}

/*slider-bar*/
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  margin: 10px;
}

/*slider-square*/
.ui-slider-handle.ui-state-default.ui-corner-all {
}





