html {
  height: 100%;
/*  height: auto !important;
*/  height: 100%;
  margin: 0 auto -4em;
}

body {
  margin:0;
}

/*.main {
  height:100%;
}*/

header a {
  color:white;
  text-decoration: none;
}

.start {
  background-image: url("../images/john_snow_start_1200.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding:350px 0 0 0;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 42px;
  font-weight: medium;
  color:rgba(0,0,0,0.8);
  line-height: 1em;
  min-height:100%;
  padding-bottom: 20px;
  text-shadow:  2px 2px #fffd;

}

header {
  background-color: #007abf;
  color: white;
  font-family: 'News Cycle', sans-serif;
  width:100%;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight:bold;
}
/*
.heroInfo {
  padding-top: 9em; 
}*/

#user {
  padding:40px;
}

#jon {
  padding:40px;
}

#result {
  padding:40px;
}

#slider_value_user {
  padding:0 30px 30px 30px;
  font-size: 42px;
}

#slider_value_jon {
  padding:0 30px 30px 30px;
  font-size: 42px;
}

#slider_value_result {
  padding:0 30px 30px 30px;
  font-size: 42px;
}

#answer {
  font-size: 42px;
  padding:0 30px 30px 30px;

}

.user {
  background-color:#93b7bf;
  margin: 0 auto;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color:white;
  min-height:100%;
  padding-bottom: 20px;

}

#more  {
  background-color:white;
  color:black;
  text-decoration: none;
}


a {
  text-decoration: none;
  color: black;
}

.jon {
  background-color:#93b7bf;
  margin: 0 auto;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color:white;
  height:100%;
  padding-bottom: 20px;
}

.result {
  background-color:#93b7bf;
  margin: 0 auto;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color:white;
  padding-bottom: 20px;

}

.bumper {
  background-color:#93b7bf;
  margin: 0 auto;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  font-weight: medium;
  color:white;
  padding-bottom: 20px;

}

#bumper {
  text-align:center;
  padding:20px;
}

#score {
  width: 100%;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  color:black;
}

.displayUserWins {
  background-color: white;
  width: 50%;
  float:left;
  text-align: center;
  color: #007abf;
  font-weight: bold;
}

.displayJonWins {
  background-color:white;
  width: 50%;
  float:left;
  text-align: center;
  color: #007abf;
  font-weight: bold;
}


#text {
  padding-top: 150px;
}

button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style:none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  background-color: #007abf;
  color: white;
  font-family: 'News Cycle', sans-serif;
  width: 100%;  
  margin: 0 auto;
  padding: 3px 0 3px 0;
  text-align: center;
  font-size: 14px;
  font-weight:bold;
  position:fixed;
  bottom:0;
}

footer p {
  margin: 0;
}

form input{
  height: 45px;
  width: 200px;
  border: solid 1px grey;
  margin: 20px 0 10px 0;
}

input,
input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 2;
}

/*slider-bar*/
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  margin: 0px 40px 20px 40px;
}


/*slider-handle*/
.ui-slider-handle.ui-state-default.ui-corner-all {
  width: 2.1em;
  height: 2.1em;
  background: #007abf;
  border: 1px solid #fff;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.7em;
  margin-left: -.6em;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; overflow: 
  hidden; max-width: 100%; 
} 

.embed-container iframe.embed-container object.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

/*
@media only screen and (max-width: 640px) { if screen is higher than 640 these wont apply (style for 640 down)


  header {
    font-size: 30px;
  }
}*/